{% extends "templates/bulma_template.html" %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-checkradio@1.1.1/dist/css/bulma-checkradio.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/student/navbar.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css">
    {% block new_head %}
    {% endblock %}


{% endblock %}
{% block content %}



    <nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="https://static.thenounproject.com/png/17849-200.png">
            </a>

            <a onclick="toggleActive(this)" data-target="navbar-mobile-open" role="button" class="navbar-burger burger"
               aria-label="menu" aria-expanded="false"
               data-target="navbar-mobile-open">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>

        </div>

        <div id="navbar-mobile-open" class="navbar-menu">
            <div class="navbar-start">


                <a class="navbar-item" href="{{ url_for('student_home') }}">
              <span class="icon">
                  <i class="fas fa-home"></i>
              </span>
                    &nbsp;&nbsp;Home
                </a>

                <a class="navbar-item" href="{{ url_for('student_announcements') }}">
                <span class="icon">
                    <i class="fas fa-bullhorn"></i>
                </span>
                    &nbsp;&nbsp;Announcements
                </a>

                <a class="navbar-item" href="{{ url_for('student_classes') }}">
                <span class="icon">
                    <i class="fab fa-leanpub"></i>
                </span>
                    &nbsp;&nbsp;Your Classes
                </a>


            </div>

            <div class="navbar-end">

                <a class="navbar-item">
                    Username&nbsp;&nbsp;
                    <img style="vertical-align: middle;" class="is-rounded"
                         src="https://bulma.io/images/placeholders/128x128.png">
                </a>
            </div>
        </div>
    </nav>





    {% block body %}
    {% endblock %}


{% endblock %}