{# The navbar #}

<nav class="navbar is-spaced has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('student_dashboard') }}">
            <img src="{{ url_for('static', filename='img/CodeIOBlack-cropped.png') }}" alt="">

        </a>

        <a onclick="toggleActive(this)" data-target="navbar-mobile-open" role="button" class="navbar-burger burger"
           aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>

    <div id="navbar-mobile-open" class="navbar-menu">

        <div class="navbar-start">
            <a href="{{ url_for('student_dashboard') }}" class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-home"></i>
                    </span>
                    <span>Home</span>

                </span>
            </a>
        </div>


        <div class="navbar-end">

            <p class="navbar-item">

                    Hi {{ student.name }}

            </p>

            <a href="{{ url_for('student_logout') }}" class="navbar-item">
                <span class="icon-text">
                    <span class="icon">
                        <i class="fas fa-sign-out-alt"></i>
                    </span>
                    <span>Log out</span>

                </span>
            </a>
        </div>
    </div>
</nav>



{# Get and show flashed's messages using Bulma's notification class #}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

            <div class="notification is-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

{% block body %}
{% endblock %}


