



<nav style="margin-top: 0;" class="navbar is-spaced mb-0">


    <div class="navbar-start">


        <a class="navbar-item ml-3" style="display: block;" href="{{ url_for('teacher_dashboard') }}">
            <p class="title is-5 has-text-centered">Exit class</p>
        </a>

        <a href="{{ url_for('teacher_class_home', identifier=class_.identifier) }}" class="navbar-item mx-5"
           style="display: block;">
            <p class="title is-3 has-text-centered">{{ class_.name }}</p>
        </a>


    </div>


</nav>


{# A class's navbar #}
<nav style="margin-top: 0;" class="navbar is-spaced box mb-0" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">


        <a onclick="toggleActive(this)" data-target="navbar-template-mobile-open" role="button"
           class="navbar-burger burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

    </div>


    <div class="navbar-menu" id="navbar-template-mobile-open">

        <div class="navbar-start">
            <a class="navbar-item mx-5" style="display: block;"
               href="{{ url_for('teacher_class_home', identifier=class_.identifier) }}">
                <img style="max-width: 150px; max-height:75px; height: auto; width: auto;"
                     src="https://res.cloudinary.com/dnwczwamg/image/upload/codeio/required-images/home_dza7vh.png"
                     alt="">
                <p class="has-text-centered">Home</p>
            </a>

            <a class="navbar-item mx-5" style="display: block;"
               href="{{ url_for('teacher_class_students', identifier=class_.identifier) }}">
                <img style="max-width: 150px; max-height:75px; height: auto; width: auto;"
                     src="https://res.cloudinary.com/dnwczwamg/image/upload/codeio/required-images/user_bem18t.png">
                <p class="has-text-centered">Users</p>
            </a>

            <a class="navbar-item mx-5" style="display: block;"
               href="{{ url_for('teacher_class_options', identifier=class_.identifier) }}">
                <img style="max-width: 150px; max-height:75px; height: auto; width: auto;"
                     src="https://res.cloudinary.com/dnwczwamg/image/upload/codeio/required-images/gear_aerb5j.png">
                <p class="has-text-centered">Options</p>
            </a>


        </div>


    </div>


</nav>

{# Show flashed messages with Bulma's notification class #}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}

            <div class="notification is-{{ category }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}