{% extends "templates/general_template.html" %}


{% block head %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/student/student_login.css') }}">

{% endblock %}

{% block content %}


    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h5 class="card-title text-center">Sign In to [LMS]</h5>
                        <form class="form-signin" action="" method="post">
                            {{ form.hidden_tag() }}


                            <div class="form-label-group">
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control", id="inputEmail") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control", id="inputEmail") }}
                                {% endif %}
                                <label for="inputEmail">Email</label>

                            </div>


                            <div class="form-label-group">
                                {% if form.password.errors %}
                                    {{ form.password(class="form-control", id="inputPassword") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.password.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.password(class="form-control", id="inputPassword") }}
                                {% endif %}
                                <label for="inputPassword">Password</label>

                            </div>

                            <!--<div class="custom-control custom-checkbox mb-3">
                              <input type="checkbox" class="custom-control-input" id="customCheck1">
                              <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>-->
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}