{% extends "templates/bulma_template.html" %}


{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/main.css') }}">



{% endblock %}

{% block content %}

    <section class="section">

        <div class="container">

            <h2 class="title is-2">Submission of <a href="{{ url_for('student_submit_problem', class_identifier=submission.problem.class_.identifier, problem_identifier=submission.problem.identifier) }}">{{ submission.problem.title }}</a></h2>
            <a href="{{ presigned_url }}">View code</a>

            <h3 class="title is-3 mt-6">Results</h3>

                <progress class="progress is-info" id="progress" style="width: 50%;" max="100">15%</progress>



            <h3 class="title is-3 mt-6">Details</h3>
            <p><b>Submission by</b>: {{ submission.student.name }}</p>
            <br>
            <p><b>Teacher</b>: {{ submission.student.class_.user.name }} - {{ submission.student.class_.user.email }}</p>
            <br>
            <p><b>Language</b>: {{ submission.language.name }}</p>
            <br>
            <p><b>Direct link (temporary)</b>: {{ presigned_url }}</p>

        </div>

    </section>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>
        function httpGetAsync(times)
        {

            const xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function() {
                if (xmlHttp.readyState === 4 && xmlHttp.status === 200) {
                    const results = JSON.parse(xmlHttp.responseText);
                    if (results['state'] === 'SUCCESS') {

                        document.getElementById("progress").style.display = 'none';
                        for (const result of results['result']['submissions']) {
                            let colour = '';
                            if (result['status'] === 'Accepted') {
                                colour = 'has-text-success';
                            }
                            else {
                                colour = 'has-text-danger';
                            }
                            document.getElementById('progress').insertAdjacentHTML('beforebegin', `<h5 class="title is-5 result-text"><span class="${colour}">${result['status']}</span> - ${result['time']} seconds - ${result['memory'] / 1000} MB - ${result['marks']}/${result['total_marks']}</h5>`)
                        }
                        console.log(results);
                        document.getElementById('progress').insertAdjacentHTML('beforebegin', `<h5 class="title is-5 result-text">Total: ${results['result']['total_marks_earned']}/${results['result']['total_marks']}</h5>`)
                    }

                }
            }
            if (document.getElementsByClassName('result-text').length === 0) {
                xmlHttp.open("GET", "/status/{{ task_id }}", true);
                xmlHttp.send(null);
            }

            if (times < {{ 2 * 2000 + 4000 }}) {
                setTimeout(function() {httpGetAsync(times + {{ 2 * 1000 + 3000 }})}, {{ 2 * 1000 + 3000 }});
            }
        }

        httpGetAsync(0);


    </script>

{% endblock %}