{% extends "templates/bulma_template.html" %}


{% block head %}

    <style>
        .w100 {
            width: 100vw
        }

        body {
            background-color: #abd3d6;
        }
    </style>

{% endblock %}

{% block content %}


    <section class="hero is-fullheight">
        <div class="hero-body">

            <div class="columns is-centered w100">

                <div class="column is-5">
                    <div class="box has-text-centered">
                        <img width="73%" src="{{ url_for('static', filename='img/CodeIOBlack-cropped.png') }}" alt="">
                    </div>
                    <div class="box">


                        <div class="content">
                            <p class="title is-4 has-text-centered mt-0">Change your password</p>

                            {# Show the flashed messages using Bulma's notification class #}
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="notification is-{{ category }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}

                            {# Show form to send password reset email #}
                            <form method="post" action="">

                                {{ form.hidden_tag() }}


                                <div class="field">
                                    {{ form.password.label(class="label") }}
                                    {% if form.password.errors %}
                                        {{ form.password(class="input is-danger") }}
                                        <div class="invalid-feedback">
                                            {% for error in form.password.errors %}
                                                <p class="help is-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        {{ form.password(class="input") }}
                                    {% endif %}

                                </div>

                                {{ form.submit(class='button is-info') }}

                            </form>


                        </div>
                    </div>

                    <div>Logo icon made by <a target="_blank" href="https://www.flaticon.com/authors/roundicons"
                                              title="Roundicons">Roundicons</a>
                        from <a target="_blank" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                    </div>

                </div>


            </div>

        </div>
    </section>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}