{% extends "teacher/templates/navbar.html" %}


{% block new_head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/main.css') }}">



{% endblock %}

{% block body %}


    <section class="section">

        <div class="container">

            <div class="columns is-multiline">
                <div class="column is-one-quarter">
                    <div class="box card-hover-effect">
                        <h3 class="title is-5">{Class Name}</h3>
                        <p>Teacher: Mr. John Smith</p>
                        <p>24 stdents</p>
                        <p>10 problems</p>
                    </div>
                </div>


            </div>
        </div>

    </section>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}