{% extends "templates/bulma_template.html" %}


{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/main.css') }}">



{% endblock %}

{% block content %}

    {% include "teacher/templates/class_navbar.html" %}

    <section class="section">

        <div class="container">

            {# Breadcrumbs to show the path that the user is currently in #}
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('teacher_dashboard') }}">Teacher Home</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Class: {{ class_.name }}</a></li>
                </ul>
            </nav>

            {# A link to create a new problem #}
            <a href="{{ url_for('teacher_class_new_problem', identifier=identifier) }}">
                <div class="box card-hover-effect mb-4">
                    <h3 class="title is-3">New Problem</h3>
                </div>
            </a>
            <div class="columns is-multiline">

                {# For every problem, show the problem's name along with the number the students that have/have not submitted to the problem #}
                {% for problem in problems %}
                    <div class="column is-half">

                        <a href="{{ url_for('teacher_class_problem', class_identifier=problem.class_.identifier, problem_identifier=problem.identifier) }}">
                            <div class="box card-hover-effect">
                                <h4 class="title is-4">{{ problem.title }}</h4>

                                <div class="columns is-multiline">
                                    <div class="column is-narrow">
                                        <p class="has-text-success">{{ u[problem] }} students submitted</p>
                                    </div>
                                    <div class="column is-narrow">
                                        <p class="has-text-danger">{{ (class_.students)|length - u[problem] }} students
                                            not submitted</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                {% endfor %}

            </div>

        </div>

    </section>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}