{% extends "templates/bulma_template.html" %}


{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/main.css') }}">

    <style>
        .file:hover {

        }
    </style>

{% endblock %}

{% block content %}

    {% include "teacher/templates/class_navbar.html" %}



    <section class="section">

        <div class="container">


            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('teacher_dashboard') }}">Teacher Home</a></li>
                    <li><a href="{{ url_for('teacher_class_home', identifier=class_.identifier) }}">Class: {{ class_.name }}</a></li>
                    <li class="is-active"><a href="#" aria-current="page">New Problem</a></li>
                </ul>
            </nav>

            <h3 class="is-3 title">New Problem</h3>
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="field">
                    <div class="control">

                        {{ form.title.label(class="label") }}
                        {% if form.title.errors %}
                            {{ form.title(class="input is-danger is-medium") }}
                            <div class="help is-danger">
                                {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.title(class="input is-medium") }}
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    <div class="control">

                        {{ form.description.label(class="label") }}
                        {% if form.description.errors %}
                            {{ form.description(class="textarea is-danger") }}
                            <div class="help is-danger">
                                {% for error in form.description.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.description(class="textarea") }}
                        {% endif %}
                    </div>
                </div>

                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        {{ form.time_limit.label(class="label") }}
                        {% if form.time_limit.errors %}
                            {{ form.time_limit(class="input is-danger") }}
                            <div class="help is-danger">
                                {% for error in form.time_limit.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.time_limit(class="input") }}
                        {% endif %}
                    </div>
                    <div class="control">
                        {{ form.memory_limit.label(class="label") }}
                        {% if form.memory_limit.errors %}
                            {{ form.memory_limit(class="input is-danger") }}
                            <div class="help is-danger">
                                {% for error in form.memory_limit.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.memory_limit(class="input") }}
                        {% endif %}
                    </div>
                    <div class="control">
                        {{ form.total_marks.label(class="label") }}
                        {% if form.total_marks.errors %}
                            {{ form.total_marks(class="input is-danger") }}
                            <div class="help is-danger">
                                {% for error in form.total_marks.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.total_marks(class="input") }}
                        {% endif %}
                    </div>
                </div>

                <div class="field">
                    {{ form.languages.label(class="label") }}
                    <div class="select is-multiple">
                        {{ form.languages(class="select is-multiple") }}
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox mb-3">
                        {{ form.allow_multiple_submissions(class="checkbox") }}
                        {{ form.allow_multiple_submissions.label() }}
                    </label>
                </div>
                <div class="field">
                    <label class="checkbox mb-3">
                        {{ form.auto_grade(class="checkbox", id="auto-grade-checkbox", onchange="show_auto_grade(this)") }}
                        {{ form.auto_grade.label() }}
                        {% for error in form.auto_grade.errors %}
                            <p class="help is-danger">{{ error }}</p>
                        {% endfor %}

                    </label>
                </div>
                <div id="input-and-output" class="dontshow mb-5">
                    <p>Note that you cannot edit input and output files once a problem has been created.</p>

                    <div class="columns mt-3">
                        <div class="column">

                            <div class="field">
                                {{ form.input1file.label(class="label") }}

                                <div class="file has-name" id="input1filediv">

                                    <label class="file-label">
                                        {#                        <input class="file-input" type="file" name="resume">#}
                                        {{ form.input1file(class="file-input", id="input1file") }}

                                        <span class="file-cta has-background-white">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name has-background-white">
                                            No file chosen
                                        </span>
                                    </label>
                                </div>
                                {% if form.input1file.errors %}
                                    <div class="help is-danger">
                                        {% for error in form.input1file.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="field">
                                {{ form.input2file.label(class="label") }}

                                <div class="file has-name" id="input2filediv">

                                    <label class="file-label">
                                        {#                        <input class="file-input" type="file" name="resume">#}
                                        {{ form.input2file(class="file-input", id="input2file") }}

                                        <span class="file-cta has-background-white">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name has-background-white">
                                            No file chosen
                                        </span>
                                    </label>
                                </div>
                                {% if form.input2file.errors %}
                                    <div class="help is-danger">
                                        {% for error in form.input2file.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="field">
                                {{ form.input3file.label(class="label") }}

                                <div class="file has-name" id="input3filediv">

                                    <label class="file-label">
                                        {#                        <input class="file-input" type="file" name="resume">#}
                                        {{ form.input3file(class="file-input", id="input3file") }}

                                        <span class="file-cta has-background-white">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name has-background-white">
                                            No file chosen
                                        </span>
                                    </label>
                                </div>
                                {% if form.input3file.errors %}
                                    <div class="help is-danger">
                                        {% for error in form.input3file.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="field">
                                {{ form.input4file.label(class="label") }}

                                <div class="file has-name" id="input4filediv">

                                    <label class="file-label">
                                        {#                        <input class="file-input" type="file" name="resume">#}
                                        {{ form.input4file(class="file-input", id="input4file") }}

                                        <span class="file-cta has-background-white">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name has-background-white">
                                            No file chosen
                                        </span>
                                    </label>
                                </div>
                                {% if form.input4file.errors %}
                                    <div class="help is-danger">
                                        {% for error in form.input4file.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="field">
                                {{ form.input5file.label(class="label") }}

                                <div class="file has-name" id="input5filediv">

                                    <label class="file-label">
                                        {#                        <input class="file-input" type="file" name="resume">#}
                                        {{ form.input5file(class="file-input", id="input5file") }}

                                        <span class="file-cta has-background-white">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name has-background-white">
                                            No file chosen
                                        </span>
                                    </label>
                                </div>
                                {% if form.input5file.errors %}
                                    <div class="help is-danger">
                                        {% for error in form.input5file.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>


                        </div>

                        <div class="column">

                            <div class="field">
                                {{ form.output1file.label(class="label") }}

                                <div class="file has-name" id="output1filediv">

                                    <label class="file-label">
                                        {{ form.output1file(class="file-input", id="output1file") }}

                                        <span class="file-cta has-background-white">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name has-background-white">
                                            No file chosen
                                        </span>
                                    </label>
                                </div>

                                {% if form.output1file.errors %}
                                    <div class="help is-danger">
                                        {% for error in form.output1file.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                            <div class="field">
                                {{ form.output2file.label(class="label") }}

                                <div class="file has-name" id="output2filediv">

                                    <label class="file-label">
                                        {{ form.output2file(class="file-input", id="output2file") }}

                                        <span class="file-cta has-background-white">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name has-background-white">
                                            No file chosen
                                        </span>
                                    </label>
                                </div>

                                {% if form.output2file.errors %}
                                    <div class="help is-danger">
                                        {% for error in form.output2file.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                            <div class="field">
                                {{ form.output3file.label(class="label") }}

                                <div class="file has-name" id="output3filediv">

                                    <label class="file-label">
                                        {{ form.output3file(class="file-input", id="output3file") }}

                                        <span class="file-cta has-background-white">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name has-background-white">
                                            No file chosen
                                        </span>
                                    </label>
                                </div>

                                {% if form.output3file.errors %}
                                    <div class="help is-danger">
                                        {% for error in form.output3file.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                            <div class="field">
                                {{ form.output4file.label(class="label") }}

                                <div class="file has-name" id="output4filediv">

                                    <label class="file-label">
                                        {{ form.output4file(class="file-input", id="output4file") }}

                                        <span class="file-cta has-background-white">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name has-background-white">
                                            No file chosen
                                        </span>
                                    </label>
                                </div>

                                {% if form.output4file.errors %}
                                    <div class="help is-danger">
                                        {% for error in form.output4file.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>
                            <div class="field">
                                {{ form.output5file.label(class="label") }}

                                <div class="file has-name" id="output5filediv">

                                    <label class="file-label">
                                        {{ form.output5file(class="file-input", id="output5file") }}

                                        <span class="file-cta has-background-white">
                                            <span class="file-icon">
                                                <i class="fas fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <span class="file-name has-background-white">
                                            No file chosen
                                        </span>
                                    </label>
                                </div>

                                {% if form.output5file.errors %}
                                    <div class="help is-danger">
                                        {% for error in form.output5file.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                            </div>


                        </div>
                    </div>
                </div>
                {{ form.submit(class="button is-info") }}
            </form>
        </div>

    </section>

    <script>
        window.onload = function () {
            if (document.getElementById('auto-grade-checkbox').checked) {
                document.getElementById('input-and-output').style.display = 'block'
            } else {
                document.getElementById('input-and-output').style.display = 'none'
            }
        }

        function show_auto_grade(elem) {
            if (elem.checked) {
                document.getElementById('input-and-output').style.display = 'block'
            } else {
                document.getElementById('input-and-output').style.display = 'none'
            }
        }

        const fileInput1 = document.querySelector('#input1filediv input[type=file]');
        fileInput1.onchange = () => {
            if (fileInput1.files.length > 0) {
                const fileName = document.querySelector('#input1filediv .file-name');
                fileName.textContent = fileInput1.files[0].name;
            }
        }

        const fileInput2 = document.querySelector('#input2filediv input[type=file]');
        fileInput2.onchange = () => {
            if (fileInput2.files.length > 0) {
                const fileName = document.querySelector('#input2filediv .file-name');
                fileName.textContent = fileInput2.files[0].name;
            }
        }

        const fileInput3 = document.querySelector('#input3filediv input[type=file]');
        fileInput3.onchange = () => {
            if (fileInput3.files.length > 0) {
                const fileName = document.querySelector('#input3filediv .file-name');
                fileName.textContent = fileInput3.files[0].name;
            }
        }

        const fileInput4 = document.querySelector('#input4filediv input[type=file]');
        fileInput4.onchange = () => {
            if (fileInput4.files.length > 0) {
                const fileName = document.querySelector('#input4filediv .file-name');
                fileName.textContent = fileInput4.files[0].name;
            }
        }

        const fileInput5 = document.querySelector('#input5filediv input[type=file]');
        fileInput5.onchange = () => {
            if (fileInput5.files.length > 0) {
                const fileName = document.querySelector('#input5filediv .file-name');
                fileName.textContent = fileInput5.files[0].name;
            }
        }

        const fileInput6 = document.querySelector('#output1filediv input[type=file]');
        fileInput6.onchange = () => {
            if (fileInput6.files.length > 0) {
                const fileName = document.querySelector('#output1filediv .file-name');
                fileName.textContent = fileInput6.files[0].name;
            }
        }

        const fileInput7 = document.querySelector('#output2filediv input[type=file]');
        fileInput7.onchange = () => {
            if (fileInput7.files.length > 0) {
                const fileName = document.querySelector('#output2filediv .file-name');
                fileName.textContent = fileInput7.files[0].name;
            }
        }

        const fileInput8 = document.querySelector('#output3filediv input[type=file]');
        fileInput8.onchange = () => {
            if (fileInput8.files.length > 0) {
                const fileName = document.querySelector('#output3filediv .file-name');
                fileName.textContent = fileInput8.files[0].name;
            }
        }

        const fileInput9 = document.querySelector('#output4filediv input[type=file]');
        fileInput9.onchange = () => {
            if (fileInput9.files.length > 0) {
                const fileName = document.querySelector('#output4filediv .file-name');
                fileName.textContent = fileInput9.files[0].name;
            }
        }

        const fileInput10 = document.querySelector('#output5filediv input[type=file]');
        fileInput10.onchange = () => {
            if (fileInput10.files.length > 0) {
                const fileName = document.querySelector('#output5filediv .file-name');
                fileName.textContent = fileInput10.files[0].name;
            }
        }
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}