{% extends "templates/bulma_template.html" %}


{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/main.css') }}">


{% endblock %}

{% block content %}

    {% include "teacher/templates/class_navbar.html" %}

    {# Tabs to navigate to and from student submissions and problem info #}
    <div class="tabs is-centered is-fullwidth is-toggle is-large mb-0">
        <ul>
            <li id="problem-info-button" class="{{ active_show_problem }}"><a
                    onclick="toggle_problem_view(this, 'student-submissions', 'problem-info')">Problem Info</a></li>
            <li id="student-submissions-button" class="{{ active_student_submissions }}"><a
                    onclick="toggle_problem_view(this, 'problem-info', 'student-submissions')">Student Submissions</a>
            </li>
        </ul>
    </div>

    <section class="section {{ show_problem_info }}" id="problem-info">

        <div class="container">

            {# Breadcrumbs to show the path that the user is currently in #}
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('teacher_dashboard') }}">Teacher Home</a></li>
                    <li>
                        <a href="{{ url_for('teacher_class_home', identifier=class_.identifier) }}">Class: {{ class_.name }}</a>
                    </li>
                    <li class="is-active"><a href="#" aria-current="page">Problem: {{ problem.title }}</a></li>
                </ul>
            </nav>

            {# Generate a hash of the problem and user's properties to pass to the deletion route #}
            {% set sha_hash = sha256((class_.identifier + class_.id|string + problem.identifier + problem.id|string + current_user.password).encode('utf-8')).hexdigest() %}

            {# Modal to delete problem #}
            <div class="modal" id="delete-modal">
                <div class="modal-background" onclick="removeActive(this)" data-target="delete-modal"></div>
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Delete problem</p>
                        <button class="delete" aria-label="close" onclick="removeActive(this)"
                                data-target="delete-modal"></button>
                    </header>
                    <section class="modal-card-body">
                        Are you sure you want to delete the problem? All of the submissions, output files, input files,
                        results, etc. will be permanently deleted.
                    </section>
                    <footer class="modal-card-foot">
                        <a href="{{ url_for('teacher_class_problem_delete', class_identifier=class_.identifier, problem_identifier=problem.identifier, hash=sha_hash) }}"
                           class="button is-danger">Delete Problem</a>
                        <button class="button" onclick="removeActive(this)" data-target="delete-modal">Cancel</button>
                    </footer>
                </div>
            </div>


            <a href="{{ url_for('teacher_class_problem_edit', class_identifier=class_.identifier, problem_identifier=problem.identifier) }}"
               class="button is-info">Edit problem</a>


            <button class="button is-danger" onclick="toggleActive(this)" data-target="delete-modal">Delete problem
            </button>

            {# The unique link to send to students #}
            <div class="box mb-6 mt-4"><p>Send this link to your students:</p>
                <h4 class="title is-4"><a id="text-to-copy" target="_blank"
                                          href="{{ url_for('student_submit_problem', class_identifier=class_.identifier, problem_identifier=problem.identifier) }}">
                    {{ base_url }}{{ url_for('student_submit_problem', class_identifier=class_.identifier, problem_identifier=problem.identifier) }}</a>
                </h4>
                <button onclick="copy_url()" class="button is-info">Copy</button>
            </div>

            <div class="columns">
                <div class="column is-10">

                    {# Show the problem's title and HTML description #}
                    <h2 class="title is-2">{{ problem.title }}</h2>

                    <div class="content mb-6 mt-6">
                        {{ problem.description_html|safe }}
                    </div>


                    {# If the problem is to be auto graded, show the input and output files #}
                    {% if problem.auto_grade %}
                        <h3 class="title is-3">Inputs and Outputs</h3>
                    {% endif %}

                    <div class="columns">
                        <div class="column is-narrow">
                            {% for i in range(input_presigned_urls|length) %}
                                <p><a target="_blank" href="{{ input_presigned_urls[i] }}">Input {{ i + 1 }}</a></p>
                            {% endfor %}
                        </div>
                        <div class="column is-narrow">
                            {% for i in range(output_presigned_urls|length) %}
                                <p><a target="_blank" href="{{ output_presigned_urls[i] }}">Output {{ i + 1 }}</a></p>
                            {% endfor %}
                        </div>
                    </div>

                </div>

                {# Show the problem's specifications and constraints #}
                <div class="column has-background-white">
                    <h4 class="title is-4">Specifications</h4>
                    <p><b>Time limit</b>: {{ problem.time_limit }} seconds</p>
                    <br>
                    <p><b>Memory limit</b>: {{ problem.memory_limit }} MB</p>
                    <br>
                    <p><b>Points</b>: {{ problem.total_marks }}</p>
                    <br>
                    <p><b>Languages allowed</b>:</p>
                    {% for l in problem.languages %}
                        <p>{{ l.name }}</p>
                    {% endfor %}
                    <br>
                    <p><b>Allow multiple submissions</b>: {{ problem.allow_multiple_submissions }}</p>
                    <br>
                    <p><b>Auto grade</b>: {{ problem.auto_grade }}</p>
                    <br>
                    <p><b>Created at</b>: {{ problem.create_date_time.strftime('%A, %B %d, %I:%M %p %z') }}</p>
                    <br>
                    <p><b>Creator</b>: {{ problem.user.name }} ({{ problem.user.email }})</p>
                </div>
            </div>


        </div>

    </section>


    <section class="section {{ show_student_submissions }}" id="student-submissions">

        <div class="container">

            {# Breadcrumbs to show the path that the user is currently in #}
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('teacher_dashboard') }}">Teacher Home</a></li>
                    <li>
                        <a href="{{ url_for('teacher_class_home', identifier=class_.identifier) }}">Class: {{ class_.name }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('teacher_class_problem', class_identifier=class_.identifier, problem_identifier=problem.identifier) }}">Problem: {{ problem.title }}</a>
                    </li>
                    <li class="is-active"><a href="#" aria-current="page">Student Submissions</a></li>
                </ul>
            </nav>


            <div class="columns">
                <div class="column">

                    {# Show submissions to the problem, grouped by student #}
                    <h3 class="title is-3">Submissions</h3>

                    {% for stud in student_submissions %}
                        {% for subm in student_submissions[stud] %}
                            <a href="{{ url_for('teacher_student_submission', task_id=subm.uuid) }}">
                                <div class="card mb-2">


                                    {% if subm.marks == problem.total_marks %}
                                        {% set submission_background_class = 'has-background-success-light' %}
                                    {% elif subm.marks == 0 %}
                                        {% set submission_background_class = 'has-background-danger-light' %}
                                    {% else %}
                                        {% set submission_background_class = 'has-background-warning-light' %}
                                    {% endif %}

                                    <div class="card-content card-hover-effect {{ submission_background_class }}">
                                        <div class="columns is-mobile">
                                            <div class="column is-9-desktop is-8-mobile">
                                                <h4 class="title is-4">Submission by {{ subm.student.name }}</h4>
                                                <p>{{ subm.date_time.strftime('%m/%d/%Y - %-I:%M %p') }} UTC</p>
                                            </div>


                                            <div class="column" style="margin-top: auto; margin-bottom: auto;">
                                                <h4 class="title is-4">{{ subm.marks }}/{{ problem.total_marks }}</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                        <br>
                    {% endfor %}

                </div>

                {# Show the students that have not submitted the problem #}
                <div class="column">
                    <h3 class="title is-3">Not Submitted</h3>
                    {% for stud in student_submissions %}
                        {% if not student_submissions[stud] %}
                            <div class="card has-background-danger-light mb-2">
                                <div class="card-content">
                                    <h4 class="title is-4">{{ stud.name }}</h4>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bulma-toast@2.2.0/dist/bulma-toast.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>

        {# When the copy button is pressed #}

        function copy_url() {
            const link = document.getElementById('text-to-copy').innerText

            {# Create a textarea with the content being the link to copy #}
            const textarea = document.createElement("textarea");
            textarea.textContent = link;
            textarea.style.position = "fixed";
            document.body.appendChild(textarea);
            textarea.select();

            {# Select the textarea and copy the contents of it #}
            document.execCommand("copy");

            {# Remove the textarea and show a toast #}
            document.body.removeChild(textarea);
            bulmaToast.toast({
                message: 'The link has been copied.',
                type: 'is-success',
                dismissible: true,
                position: 'bottom-left',
                duration: 4000,
                closeOnClick: false
            })

        }

        {# Get the base URL of the webpage (for example: localhost:5000) #}
        const base_url = new URL(window.location.href.split('?')[0]);


        {# When a tab is pressed, show its respective page #}

        function toggle_problem_view(elem, to_remove, to_add) {

            {# Get the current URL parameters #}
            const urlParams = new URLSearchParams(window.location.search)

            {# If the student submissions must be shown, add show_student_submissions as a URL param so on reload, that is what gets shown #}
            if (to_add === 'student-submissions') {
                urlParams.set('show_student_submissions', 'true')
                window.location.search = urlParams;
            } else {
                {# If the problem info must be shown, remove show_student_submissions as a URL param so on reload, the problem info is shown #}
                urlParams.delete('show_student_submissions')
                window.location.search = urlParams;
            }
            {# Show/hide the request tab and make the respective tab active #}
            elem.parentElement.classList.add('is-active')
            document.getElementById(`${to_remove}-button`).classList.remove('is-active')
            document.getElementById(to_remove).classList.add('dontshow')
            document.getElementById(to_add).classList.remove('dontshow')

        }
    </script>

{% endblock %}