{% extends "templates/bulma_template.html" %}


{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/main.css') }}">



{% endblock %}

{% block content %}

    {% include "teacher/templates/class_navbar.html" %}


    <div class="tabs is-centered is-fullwidth is-toggle is-large">
        <ul>
            <li id="problem-info-button" class="{{ active_show_problem }}"><a
                    onclick="toggle_problem_view(this, 'student-submissions', 'problem-info')">Problem Info</a></li>
            <li id="student-submissions-button" class="{{ active_student_submissions }}"><a
                    onclick="toggle_problem_view(this, 'problem-info', 'student-submissions')">Student Submissions</a>
            </li>
        </ul>
    </div>

    <section class="section {{ show_problem_info }}" id="problem-info">

        <div class="container">

            <div class="box mb-6"><p>Send this link to your students:</p>
                <h4 class="title is-4"><a target="_blank" href="{{ url_for('student_submit_problem', class_identifier=class_.identifier, problem_identifier=problem.identifier) }}">{{ base_url }}{{ url_for('student_submit_problem', class_identifier=class_.identifier, problem_identifier=problem.identifier) }}</a></h4>
            </div>

            <div class="columns">
                <div class="column is-10">
                    <h2 class="title is-2">{{ problem.title }}</h2>

                    <div class="content mb-6 mt-6">
                    {{ problem.description_html|safe }}
                    </div>


                {% if problem.auto_grade %}
                    <h3 class="title is-3">Inputs and Outputs</h3>
                {% endif %}

                    <div class="columns">
                        <div class="column is-narrow">
                            {% for i in range(input_presigned_urls|length) %}
                                <p><a target="_blank" href="{{ input_presigned_urls[i] }}">Input {{ i + 1 }}</a></p>
                            {% endfor %}
                        </div>
                        <div class="column is-narrow">
                            {% for i in range(output_presigned_urls|length) %}
                                <p><a target="_blank" href="{{ output_presigned_urls[i] }}">Output {{ i + 1 }}</a></p>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="column has-background-white">
                    <h4 class="title is-4">Specifications</h4>
                    <p><b>Time limit</b>: {{ problem.time_limit }} seconds</p>
                    <br>
                    <p><b>Memory limit</b>: {{ problem.memory_limit }} MB</p>
                    <br>
                    <p>Worth {{ problem.total_marks }} points</p>
                    <br>
                    <p><b>Languages allowed</b>:</p>
                    {% for l in problem.languages %}
                        <p>{{ l.name }}</p>
                    {% endfor %}
                    <br>
                    <p><b>Allow multiple submissions</b>: {{ problem.allow_multiple_submissions }}</p>
                    <br>
                    <p><b>Auto grade</b>: {{ problem.auto_grade }}</p>
                    <br>
                    <p><b>Created at</b>: {{ problem.create_date_time.strftime('%A, %B %d, %I:%M %p %z') }}</p>
                    <br>
                    <p><b>Creator</b>: {{ problem.user.name }} ({{ problem.user.email }})</p>
                </div>
            </div>


        </div>

    </section>


    <section class="section {{ show_student_submissions }}" id="student-submissions">

        <div class="container">


            <div class="columns">
                <div class="column">
                    <h3 class="title is-3">Submissions</h3>

                    {% for stud in student_submissions %}
                        {% for subm in student_submissions[stud] %}
                            <a href="{{ url_for('teacher_student_submission', task_id=subm.uuid) }}">
                            <div class="card mb-2">


                                {% if subm.marks == problem.total_marks %}
                                    {% set submission_background_class = 'has-background-success-light' %}
                                {% elif subm.marks == 0 %}
                                    {% set submission_background_class = 'has-background-danger-light' %}
                                {% else %}
                                    {% set submission_background_class = 'has-background-warning-light' %}
                                {% endif %}

                                <div class="card-content card-hover-effect {{ submission_background_class }}">
                                    <div class="columns is-mobile">
                                        <div class="column is-9-desktop is-8-mobile">
                                            <h4 class="title is-4">Submission by {{ subm.student.name }}</h4>
                                            <p>{{ subm.date_time.strftime('%m/%d/%Y - %-I:%M %p') }} UTC</p>
                                        </div>



                                        <div class="column" style="margin-top: auto; margin-bottom: auto;">
                                            <h4 class="title is-4">{{ subm.marks }}/{{ problem.total_marks }}</h4>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            </a>
                        {% endfor %}
                        <br>
                    {% endfor %}

                </div>

                <div class="column">
                    <h3 class="title is-3">Not Submitted</h3>
                    {% for stud in student_submissions %}
                        {% if not student_submissions[stud] %}
                            <div class="card has-background-danger-light mb-2">
                            <div class="card-content">
                                <h4 class="title is-4">{{ stud.name }}</h4>
                            </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

        </div>

    </section>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>

        const base_url = new URL(window.location.href.split('?')[0]);
        
        console.log(base_url)


        function toggle_problem_view(elem, to_remove, to_add) {
            console.log(to_add)
            const urlParams = new URLSearchParams(window.location.search)
            if (to_add === 'student-submissions') {
                urlParams.set('show_student_submissions', 'true')
                window.location.search = urlParams;
            }
            else {
                urlParams.delete('show_student_submissions')
                window.location.search = urlParams;
            }
            elem.parentElement.classList.add('is-active')
            document.getElementById(`${to_remove}-button`).classList.remove('is-active')
            document.getElementById(to_remove).classList.add('dontshow')
            document.getElementById(to_add).classList.remove('dontshow')

        }
    </script>

{% endblock %}