{% extends "templates/bulma_template.html" %}


{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/main.css') }}">



{% endblock %}

{% block content %}

    {% include "teacher/templates/class_navbar.html" %}

    <section class="section">

        <div class="container">

            {# Breadcrumbs to show the path that the user is currently in #}
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('teacher_dashboard') }}">Teacher Home</a></li>
                    <li>
                        <a href="{{ url_for('teacher_class_home', identifier=class_.identifier) }}">Class: {{ class_.name }}</a>
                    </li>
                    <li class="is-active"><a href="#" aria-current="page">Students</a></li>
                </ul>
            </nav>


            <h3 class="title is-3">Students
            </h3>

            <div class="box">
                <h3 class="title is-4">New Student</h3>
                {# Show the form to create a new student, along with any respective errors #}
                <form action="" method="post">
                    {{ form.hidden_tag() }}

                    <div class="field">
                        {{ form.name.label(class="label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="input is-danger") }}
                            <div class="help is-danger">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="input") }}
                        {% endif %}
                    </div>


                    {{ form.submit(class="button is-info") }}
                </form>

            </div>

            {# Show each student in a table along with their attributes such as name, code, and course mark #}
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Course Mark</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.name }}</td>
                            <td>{{ student.identifier }}</td>
                            <td>{{ marks[student][0] }}/{{ marks[student][1] }} or {{ marks[student][2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>

    </section>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}