{% extends "templates/bulma_template.html" %}


{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/main.css') }}">



{% endblock %}

{% block content %}

    {% include "teacher/templates/class_navbar.html" %}

    <section class="section">

        <div class="container">

            {# Breadcrumbs to show the path that the user is currently in #}
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('teacher_dashboard') }}">Teacher Home</a></li>
                    <li>
                        <a href="{{ url_for('teacher_class_home', identifier=class_.identifier) }}">Class: {{ class_.name }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('teacher_class_problem', class_identifier=class_.identifier, problem_identifier=problem.identifier) }}">Problem: {{ problem.title }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('teacher_class_problem', class_identifier=submission.problem.class_.identifier, problem_identifier=submission.problem.identifier, show_student_submissions='true') }}">Student
                            Submissions</a></li>
                    <li class="is-active"><a href="#" aria-current="page">Submission
                        by {{ submission.student.name }}</a></li>
                </ul>
            </nav>


            <h2 class="title is-2">Submission of
                <a href="{{ url_for('teacher_class_problem', class_identifier=submission.problem.class_.identifier, problem_identifier=submission.problem.identifier, show_student_submissions='true') }}">{{ submission.problem.title }}</a>
            </h2>
            <a target="_blank" href="{{ presigned_url }}">View code</a>

            <h3 class="title is-3 mt-6">Results</h3>

            {# Show each result of the submission #}
            {% for result in results %}

                {% if result.status.name == 'Accepted' %}
                    {% set result_text_colour = 'has-text-success' %}
                {% else %}
                    {% set result_text_colour = 'has-text-danger' %}
                {% endif %}

                <h5 class="title is-5 result-text"><span
                        class="{{ result_text_colour }}">{{ result.status.name }}</span> - {{ result.time }} seconds
                    - {{ result.memory / 1000 }} MB - {{ result.marks }}/{{ result.marks_out_of }}</h5>

            {% endfor %}



            <h5 class="title is-5 result-text">Total: {{ submission.marks }}/{{ submission.problem.total_marks }}</h5>

            {# Show the form to update the user's mark #}
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="field">
                    <div class="control">

                        {{ form.mark.label(class="label") }}
                        {% if form.mark.errors %}
                            {{ form.mark(class="input is-danger is-medium") }}
                            <div class="help is-danger">
                                {% for error in form.mark.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.mark(class="input is-medium") }}
                        {% endif %}
                    </div>
                </div>

                {{ form.submit(class="button is-info") }}
            </form>
            {# Show the submission details #}
            <h3 class="title is-3 mt-6">Details</h3>
            <p><b>Submission by</b>: {{ submission.student.name }}</p>
            <br>
            <p><b>Teacher</b>: {{ submission.student.class_.user.name }} - {{ submission.student.class_.user.email }}
            </p>
            <br>
            <p><b>Language</b>: {{ submission.language.name }}</p>
            <br>
            <p><b>Direct link (temporary)</b>: {{ presigned_url }}</p>

        </div>

    </section>


    <script src="{{ url_for('static', filename='js/main.js') }}"></script>


{% endblock %}