{% extends "templates/bulma_template.html" %}


{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher/main.css') }}">



{% endblock %}

{% block content %}

    {% include "teacher/templates/class_navbar.html" %}

    <section class="section">

        <div class="container">

            {# Breadcrumbs to show the path that the user is currently in #}
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ url_for('teacher_dashboard') }}">Teacher Home</a></li>
                    <li>
                        <a href="{{ url_for('teacher_class_home', identifier=class_.identifier) }}">Class: {{ class_.name }}</a>
                    </li>
                    <li class="is-active"><a href="#" aria-current="page">Users</a></li>
                </ul>
            </nav>


            <h2 class="title is-2">Users</h2>
            <h3 class="title is-3">Students
            </h3>

            <div class="box">
                <h3 class="title is-4">New Student</h3>
                {# Show the form to create a new student, along with any respective errors #}
                <form action="" method="post">
                    {{ form.hidden_tag() }}

                    <div class="field">
                        {{ form.name.label(class="label") }}
                        {% if form.name.errors %}
                            {{ form.name(class="input is-danger") }}
                            <div class="help is-danger">
                                {% for error in form.name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.name(class="input") }}
                        {% endif %}
                    </div>


                    {{ form.submit(class="button is-info") }}
                </form>

            </div>

            {# Show each student in a table along with their attributes such as name, code, and course mark #}
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Course mark</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>
                                <a href="{{ url_for('teacher_class_specific_student', class_identifier=class_.identifier, student_identifier=student.identifier) }}">{{ student.name }}</a>
                            </td>
                            <td>{{ student.identifier }}</td>
                            <td>{{ marks[student][0] }}/{{ marks[student][1] }} or {{ marks[student][2] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


            <h3 class="title is-3 mt-6">Teachers</h3>

            {# The link to allow teachers to add another teacher to the class #}
            <div class="box mb-6 mt-4"><p>Send this link to invite another teacher to your class (valid for 2
                hours):</p>
                <h4 class="title is-4"><a
                        href="{{ url_for('teacher_class_invite', identifier=class_.identifier, key=key) }}"
                        id="text-to-copy" target="_blank">
                    {{ base_url }}{{ url_for('teacher_class_invite', identifier=class_.identifier, key=key) }}</a>
                </h4>
                <button onclick="copy_url()" class="button is-info">Copy</button>
            </div>

            {# Show each student in a table along with their attributes such as name, code, and course mark #}
            <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in class_.users %}
                        <tr>
                            <td>{{ user.name }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>


        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bulma-toast@2.2.0/dist/bulma-toast.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>

        {# When the copy button is pressed #}

        function copy_url() {
            const link = document.getElementById('text-to-copy').innerText

            {# Create a textarea with the content being the link to copy #}
            const textarea = document.createElement("textarea");
            textarea.textContent = link;
            textarea.style.position = "fixed";
            document.body.appendChild(textarea);
            textarea.select();

            {# Select the textarea and copy the contents of it #}
            document.execCommand("copy");

            {# Remove the textarea and show a toast #}
            document.body.removeChild(textarea);
            bulmaToast.toast({
                message: 'The link has been copied.',
                type: 'is-success',
                dismissible: true,
                position: 'bottom-left',
                duration: 4000,
                closeOnClick: false
            })

        }
    </script>

{% endblock %}